body: 
{
    margin: 0;
    padding: 10px;
}

.headingLight
{
    color: #000;
}

.headingDark {
    color: white;
}

.scrollDropdown {
    height: 350px;
    width: 150px;
    overflow-y: auto;
}

.scrollList {
    height: 350px;
    width: 350px;
    overflow-y: auto;
}