body: 
{
    margin: 0;
    padding: 10px;
}

.headingLight
{
    color: #000;
}

.headingDark {
    color: white;
}

.scrollDropdown {
    height: 350px;
    width: 150px;
    overflow-y: auto;
}

.scrollList {
    height: 350px;
    width: 350px;
    overflow-y: auto;
}

#spinner {
    margin: auto;
    width: 20px;
    height: 20px;
    border: solid black;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0
}